# Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
.venv/
venv/
env/

# База данных
app.db
*.sqlite

# Только пользовательский контент!
static/img/chapters/
static/img/avatars/
static/img/banners/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Секреты
.env